body {
  background-color: darkgreen;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/bgLogin.gif");
  background-position: 270px 16%;
  background-clip: initial;
}
form {
  font-family: 'Staatliches', cursive;
  width: 270px;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: var(--bgElements);
  overflow-x: hidden;
  padding-top: 0px;
  color: white;
  box-shadow: 0px 0px 40px black;
}
form input {
  color: black;
  padding: 4px;
  color: #000;
  text-decoration: none;
  display: block;
  width: 100%;
  border: 0px;
  margin-bottom: 20px;
}

form input:hover {
  background-color: #ddd;
  color: black;
}
form p, form h2{
  margin-left: 4px;
  margin-bottom: 3px;
}
form p a{
  color: var(--activeSidebar);
}
#logo{
  letter-spacing: 9px;
  margin-left: 12%;
  font-size: 4rem;
  height: 105px;
  margin-top: 70px;
}
@media all and (max-width: 760px) {
  form{
    width: 100%;
  }
  body{
    background-position: 0px 16%;
  }
  #logo{
    margin-left: 27%;
    font-size: 6rem;
    letter-spacing: 20px;
  }
}
@media all and (max-width: 525px) {
  #logo{
    margin-left: 15%;
    font-size: 6rem;
    letter-spacing: 20px;
  }
}