:root {
  --activeSidebar:#FCA311;
  --idleSidebar:#E5E5E5;
  --bgElements: #14213D;
  --default:#FFFFFF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
#main{
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 0;
  background: url("../img/bg.png");
  background-size: cover;
  background-position-x: -50vw;
}
#secondGFX{
  background: url("../img/rain.gif") left top repeat, #0000007a;
  position: fixed;
  z-index: -1;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.topnav {
  font-family: 'Staatliches', cursive;  
  overflow: hidden;
  height: 44px;
  background-color: var(--bgElements);
  font-size: 1em;
  box-shadow: 0px 0px 30px black;
}

.topnav input,.topnav div {
  float: right;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  border: 0px;
  font-family: 'Staatliches', cursive;
}
.topnav div
{   
  color: white; 
  padding-bottom: 10px;
}
.topnav input:hover {
  background-color: var(--activeSidebar);
  color: black;
}
.sidenav {
  color: white;
  font-family: 'Staatliches', cursive;
  height: 100%;
  width: 232px;
  left: 0;
  background-color: var(--bgElements);
  overflow: hidden;
  float: left;
  box-shadow: 0px 0px 40px black;
  overflow-y: scroll;
  scrollbar-width:none;
}
.sidenav::-webkit-scrollbar, .sidenav::-webkit-scrollbar-thumb{
  max-width: 0px;
}
.sidenav input {
  color: white;
  padding: 10px;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  border: 0px;
  font-family: 'Staatliches', cursive !important;
  font-size: 2rem;
}

.sidenav button:hover, .sidenav input:hover{
  background-color: var(--activeSidebar) !important;
  color: black;
}
.sidenav button:focus {
  background-color: #cccaca;
  color: black;
  box-shadow: 0px 0px 1px 6px white;
}
.sidenav h2{
  color:var(--activeSidebar);
}

.game {
  z-index: -1;
  font-family: 'Staatliches', cursive;
  float: left;
  position: absolute;
  left: 24vw;
  top: 44px;
}
.grid-container {
  background-color: #2196F3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95vh;
  column-gap: 8vh;
  row-gap: 8vh;
  background-image: url("../img/grid.png");
  background-size: cover;
  box-shadow: 0px 0px 15px black;
}
.grid-item {
  background-color: red;
  position: relative;
  width: 100%;
  padding-top: 99%;
  border: 0px solid black;
  background-size: cover;
}
@media all and (max-width: 968px) {
  .game{
    margin-left: 0px;
    left: 232px;
  }
}
.posSelector-container {
  background-color: #2196F3;
  display: grid;
  z-index: 2;
  grid-template-columns: 66px 66px 66px;
  width: 233px;
  column-gap: 19px;
  row-gap: 21px;
  background-image: url("../img/grid.png");
  background-size: cover;
}
.posSelector-item {
  background-color: red;
  width: 100%;
  padding-top: 95%;
  border: 0px solid black;
  background-size: cover;
}
.shop-container {
  background-color: var(--activeSidebar);
  margin-left: 232px;
  display: grid;
  position: fixed;
  z-index: 2;
  grid-template-columns: 12vh;
  width: 13.4vh;
  /*box-shadow: -11px 0px 103px -13px black;*/
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.shop-item {
  background-color: green;
  background-size: cover;
  position: relative;
  width: 106%;
  margin: 0.3vh;
  border: 1px solid var(--activeSidebar);
  padding-top: 100%; /* 1:1 Aspect Ratio */
}
.obj-info p{
  margin-top: 3px;
  margin-bottom: 3px; 
}
.obj-info h1, .obj-info h2{
  margin-top: 6px;
  margin-bottom: 3px; 
}

#resourceProgress{
  position: fixed;
  left: 232px;
  height: 4px;
  z-index: 2;
}
#resourceProgressBar{
  width: 100%;
  height: inherit;
  background-color: var(--activeSidebar);
  z-index: 2;
  display: block;
  -webkit-transition: width 1s linear;
  -moz-transition: width 1s linear;
  -o-transition: width 1s linear;
  transition: width 1s linear;
}